<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.back.mapper.AccessMapper">

    <resultMap id="BaseResultMap" type="com.back.pojo.Access">
            <id property="accessId" column="access_id" jdbcType="INTEGER"/>
            <result property="docId" column="doc_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="accessLevel" column="access_level" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insertUserOfDoc">
        insert into access(access_id, doc_id, user_id, access_level)
        values (#{accessId}, #{docId}, #{userId}, #{accessLevel})
    </insert>

    <delete id="quitDoc">
        delete from access where doc_id = #{docId} and user_id = #{userId}
    </delete>

    <delete id="deleteUserOfDoc">
        delete from access where doc_id = ${docId} and user_id = ${userId}
    </delete>

    <delete id="deleteAccessRecord">
        delete from access where doc_id = #{docId}
    </delete>

    <select id="getAccessLevelBeForeEdit" resultType="java.lang.Integer">
        select access_level from access
        where user_id = #{userId} and doc_id = #{docId}
    </select>


</mapper>
