<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.back.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.back.pojo.User">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertUser" parameterType="com.back.pojo.User">
        INSERT INTO users(user_id, user_name, password)
        VALUES (#{userId}, #{userName}, #{password})
    </insert>
    <update id="updateUserInfo" parameterType="com.back.pojo.User">

    </update>
    <update id="updatePassword" parameterType="string">
        update users set password=#{password} where email=#{email}
    </update>

    <select id="getAllUser" resultType="com.back.pojo.User">
        select * from users;
    </select>

    <select id="selectUserByEmail" parameterType="string" resultType="com.back.pojo.User">
        select * from users where email = #{email}
    </select>
    <select id="selectUserById" resultType="com.back.pojo.User">
        select * from users where user_id = #{userId}
    </select>

</mapper>
